body {
  background: #bbb;
  background: #ccc url(http://www.eng.umd.edu/wrapper/body-top-bg-shine.png) repeat-x top left;
}

.container {
  margin-top:1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.ctsm-container {
    box-shadow: 5px 5px 5px #888888;
}

#ctsm-header {
  background: url('/images/naval_ship.png') right bottom no-repeat, url("/images/header-pattern.jpg");
  padding: 1em;
  padding-left: 0;
  padding-bottom: .4em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
    border: 5px solid #fff;
    border-bottom: none;
    color: #fff;
}

#ctsm-header img {
  width: 260px;
}

#umd-logo {
  height: 87px !important;
  width: 101px !important;
  float: right;
}

nav {
  margin-left: -15px;
  margin-right: -15px;

}

.navbar {
  margin-bottom: 0;
  border-radius: 0;

}

.content {
  background: #f6f3ee;
  background: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

#ctsm-footer {
  padding: 1em;
  background: #206898;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#ctsm-footer p {
  color: #fff;
}

.nav-tabs>li.active>a {
  background: #f8f8f8;
}

.tab-content {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-top: none;
  padding: 1em;
}


.ctsm-engineering-news {
  font-size: 0.8em;
}

.ctsm-engineering-news hr {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-top: 1px #ccc solid;
}

.ctsm-engineering-news  a:link {
  color: #555;
  text-decoration: none;
  font-size: 1em;
  font-weight:600;
}

.personinfo h5 {
  margin-bottom: 0;
}

.ctsm-engineering-news a:visited {
  color: #555;
}

.ctsm-well {
  border-radius: 0;
  background: #f8f8f8;
}

.imgcontainer
     {
     width:100%;
     height:280px;
     display:block;
     position:relative;
     overflow:hidden;
     }
.imgcontainer img
    {
     position:absolute;
     top:-25%;
     left:0;
     width:100%;
     }

