---
layout: default
title: Home
---

<div class="row content" ng-controller="NewsController">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 well ctsm-well" >
  <div class="slider">
    <ul class="slides">
        <li class="slide"><img src="/images/ctsmbig.jpg"></li>
        <li class="slide"><img  src="/images/rails.png"></li>
        <li class="slide"><img src="/images/naval_ship.png"></li>
    </ul>
</div>
    <h3>CTSM News</h3>
    <div ng-repeat="new in news" >
      <h4 ng-bind="new.title"></h4>
      <p ng-bind="new.link"></p>
      <p ng-bind="new.description"></p>
      <i style="font-size: 2em;" class="icon-twitter"></i> <i style="font-size: 2em;" class="icon-facebook-sign"></i>
    </div>
  </div>
  <div class="col-md-3 well ctsm-well ctsm-engineering-news" ng-controller='FeedCtrl'>
    <h4>Engineering News</h4>
    <div ng-repeat='feed in feeds'>
      <a href='[[feed.link]]'>[[feed.title]]</a><hr>
    </div>
    <h4>CTSM News</h4>
    <div ng-repeat='feed in feeds'>
      <a href='[[feed.link]]'>[[feed.title]]</a><hr>
    </div>
  </div>
</div>

<script>
    $('.slider').glide({
        autoplay: 5000,
    });
</script>