---
layout: default
title: CTSM Publications
---
<div class="row content">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well ctsm-well" >

<div ng-controller="PublicationsController">
  <div ng-hide='doneLoading'><h4>Loading...</h4></div>
  <div ng-show='doneLoading'>
	  <div tabset>
	    <div tab ng-repeat='publication in publications' heading='[[publication[0].type]]' select='getNumOfPages(publication)'>
	      <div ng-repeat='pub in filteredPublications = (publication | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit)'>
	        <img ng-src="[[pub.photo]]" height="100%" width="80px" style="float:left; margin: 5px;"/><br>
	        <div ng-bind-html-unsafe="pub.citation"></div>
	        <div><a href='[[pub.article]]'>PDF</a></div>
	      </div>
	      <div pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></div>
	    </div>
	  </div>
	</div>
</div>

</div>
</div>